<div class="container-fluid">
    <div class="part1">
        <h5 style="margin-top: 15px;">Transaction Details</h5>
        <div class="row"id = "boxHolder">
            <div class="col-s-12 box box1 fadeIn">
                <p style ="margin-top: 0px;font-weight: 700;font-size: 25px;margin-bottom: 0px;padding-left: 5px;">30</p>
                <small style="padding-left: 5px;">Last Week</small>
                <div class="moreClass"style="background-color:rgb(146, 106, 5);"><b>More --></b></div>
            </div>
            <div class="col-s-12 box box2 fadeIn">
                <p style ="margin-top: 0px;font-weight: 700;font-size: 25px;margin-bottom: 0px;padding-left: 5px;">100</p>
                <small style="padding-left: 5px;">Last Month</small>
                <div class="moreClass"style="background-color: rgb(27, 136, 155);"><b>More --></b></div>
            </div>
            <div class="col-s-12 box box3 fadeIn">
                <p style ="margin-top: 0px;font-weight: 700;font-size: 25px;margin-bottom: 0px;padding-left: 5px;">300</p>
                <small style="padding-left: 5px;">In a Year</small>
                <div class="moreClass"style="background-color: rgb(240, 46, 240);"><b>More --></b></div>
            </div>
        </div>
    </div>
    <div class="row part2">
        <div class="col-s-12 chart">
            <h5>Bar-Chart</h5>
            <app-chart></app-chart>
        </div>
        <div class="col-s-12 picture">
            <h5 class="adv">Advertisements</h5>
            <app-ads></app-ads>
        </div>
    </div>
</div>